<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="./contact.hbs">
    <link rel="stylesheet" href="../static/respo.css">
    <script src="../static/index.js"></script>

</head>

<body>
    <header>
        <section class="left">
            <div class="_01">
                <button class="sign" href="../views/contact.hbs">SIGN IN</button> <br>
                <a href="./contact.hbs" class="">or SIGN UP</a>
            </div>
            <div class="02">
                <div id="class">
                    <input type="button" value="CLASSES " id="class" onclick="hide()">
                </div>
                <nav id="para">
                    <ul>
                        <li><a href="#">HIP HOP</a></li>
                        <li><a href="#">JAZZ FUNK</a></li>
                        <li><a href="#">HEELS</a></li>
                        <li><a href="#">BEGINER</a></li>
                        <li><a href="#">ADVANCE</a></li>
                        <li><a href="#">LIVE CLASSES</a></li>
                        <li><a href="#">FUNDAMENTAL</a></li>
                        <li><a href="#">INETMEIDIATE</a></li>
                        <li><a href="#">BALLY DANCE</a></li>

                    </ul>
                </nav>
            </div>
        </section>
        <section class="right">
            <div class="dance">DANCE <br><SPan class="TV">TV</SPan></div>
            <span class="m-01">If your dreams do not scare you,</span>
            <span class="m-01">they are not big enough.</span>
            <button class="btn_02">START YOUR FREE TRAIL NOW</button>
        </section>
    </header>
    <main>
        <section class="levels">
            <h1 class="step">Step-by-Step Learning For All Levels</h1>
            <p class="you">Whether you’re just starting out or you’ve got some training under your belt – we got you
                covered.</p>

            <div class="grid">
                <div class="new"><BUtton class="btn_03">BRAND NEW</BUtton> <br>
                    <div class="slide">
                        Got two left feet? Start with our 10-day intro program.
                    </div>
                </div>

                <div class="beginer"><button class="btn_03">BEGINNER</button>
                    <div class="slide">
                        Got the basics down? Level up with new moves and routines.
                    </div>
                </div>
                <div class="intermediater"><BUtton class="btn_03">INTERMEDIATER</BUtton>
                    <div class="slide">
                        Feel pretty confident? Learn more challenging skills and pieces.
                    </div>
                </div>
                <div class="advance"><button class="btn_03">ADVANCE</button>
                    <div class="slide">
                        Already killin’ it? Train with the top choreographers in the game.
                    </div>
                </div>
            </div>
            <section class="price">
                <h1>Pick Your Plan</h1>
                <span class="s_01">Sign up for a Premium plan to get unlimited access to </span> <br> <span
                    class="s_01"> +1500 classes and our full range of instructors.</span>

                <div class="flex">
                    <div class="monthly">
                        <h3>MONTHLYPALN</h3>
                        <SPan class="pencil">$20</SPan><SPAn class="pen">/month</SPAn> <br>
                        <span class="tri">$20 billed monthly.</span> <br>
                        <input type="button" class="btn_04" value="START FREE 7 DAYS TRIAL">
                    </div>
                    <div class="annualy">
                        <div class="bg">
                            <span class="plan">
                                BEST VALUE (SAVE 58%)
                            </span>
                        </div>
                        <h3>ANNUALYPALN</h3>
                        <SPan class="pencil">$8.33</SPan><SPAn class="pen">/month</SPAn> <br>
                        <span class="tri">$100 billed annualy.</span> <br>
                        <input type="button" class="btn_04" id="bule" value="START FREE 7 DAYS TRIAL">

                    </div>
                </div>
            </section>
    </main>

</body>

</html>